{% extends 'base.html' %}
{% load static %}
{% block title %} Add Photo {% endblock %}
{% block body %}
{% if messages %}
<div class="container" style="min-height:678px;margin-top:-10px;">
{% else %}
<div class="container" style="min-height:678px;margin-top:-40px;">
{% endif %}
  <div class="row align-items-center pt-5">
    <div class="col-12 hero-texte pt-5">
        <div class="section-title"><h2>Add Product Photo</h2></div>
        <center> 
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row text-center">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="image_name" name="image_name" required placeholder="Image name">
              </div>
              <div class="form-group col-md-12">
                <input type="file" class="form-control" id="company_image" name="company_image" accept="image/*" required>
              </div>
              <div class="form-row col-md-12 text-center">
                <div class="form-group col-md-12 text-center">
                  <button type="submit" class="btn btn-primary text-center">Add Photo</button>
                  <a href="{% url 'products' company_id.slug %}"> <button type="button" class="btn btn-primary text-center">Go back</button></a>
                </div>
              </div>
            </div>
          </form>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}