{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}
{% block body %}
<div class="container" style="min-height:678px;margin-top:-40px;">
    <div class="row align-items-center pt-5">
        <div class="col-12 hero-texte pt-5">
            <div class="section-title">
                <h2>Forgot Password</h2>
            </div>
            <div class="form-body">
                {% load crispy_forms_tags %}
                <div class="content-section row">
                    <form method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Reset Password</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <button type="submit" class="btn btn-primary " style="">Request Password Reset</button>
                        <button type="reset" class="btn btn-primary " style="margin-left:13px;">Clear</button>
                        <a href="{% url 'home' %}"> <button type="button" class="btn btn-primary text-center">Go back</button></a>
                    </form>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
