{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock %}
{% block body %}
<div class="container pt-5" style="min-height:678px;">
    <div class="row align-items-center pt-5">
        <div class="col-12 hero-texte pt-5">
            <div class="section-title">
                <h2>Change Password</h2>
            </div>
            <div class="form-body">
                <div class="alert alert-info">
                    An email has been sent with instructions to reset your password.
                    <a href="{% url 'home' %}"> <button type="button" class="btn btn-primary text-center">Go back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
