{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block css %}
#id_old_password,#id_new_password1,#id_new_password2{
  background:none !important;
}
{% endblock %}
{% block body %}
  <div class="container" style="min-height:678px;margin-top:-40px;">
    <div class="row align-items-center pt-5">
      <div class="col-12 hero-texte pt-5">
        <div class="section-title">
          <h2>Change Password</h2>
        </div>
        <div class="form-body">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Enter Old Password:</label>{{pform.old_password}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Enter New Password</label>{{pform.new_password1}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Confirm Password</label>{{pform.new_password2}}
              </div>
            </div>
            {% for key,values in pform.errors.get_json_data.items %}
              {% for value in values %}
                <p style="color:black;">*{{value.message}}<br/></p>
              {% endfor %}
            {% endfor %}
            <div class="form-row">
              <button type="submit" class="btn btn-primary" style="margin-left:13px;">Update Password</button>
              <button type="reset" class="btn btn-primary" style="margin-left:13px;">Clear</button>
              <a href="{% url 'home' %}"> <button type="button" class="btn btn-primary text-center">Go back</button></a>
            </div>
            <br/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}