{% extends 'admin/basic.html' %}
{% load static %}
{% block title %}Add New User {% endblock %}
{% block css %}
  /*Profile Pic Start*/
  .picture-container{
  position: relative;
  cursor: pointer;
  text-align: center;
  }
  .picture{
  width: 106px;
  height: 106px;
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  margin: 0px 0px;
  border-radius:50%;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  }
  .picture:hover{
  border-color: #2ca8ff;
  }
  .content.ct-wizard-green .picture:hover{
  border-color: #05ae0e;
  }
  .content.ct-wizard-blue .picture:hover{
  border-color: #3472f7;
  }
  .content.ct-wizard-orange .picture:hover{
  border-color: #ff9500;
  }
  .content.ct-wizard-red .picture:hover{
  border-color: #ff3b30;
  }
  .picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
  }
  .picture-src{
  width: 100%;
  }
  /*Profile Pic End*/

{% endblock %}
{% block body %}
{% load static %}
<div id="page-wrapper">
  <div class="form-grids row widget-shadow" data-example-id="basic-forms">
    <div class="form-title">
      <h4 style="text-align:center;">-: Add New User :-</h4>
    </div>
    {% if messages %}
      <ul class="messages my-5 text-center">
        {% for message in messages %}
          <hr>
          <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="form-body">
      <form action="{% url 'add_user' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="picture-container col-md-12 row d-flex justify-content-center" style="padding-top:10px;">
          <div class="picture col-md-2 col-sd-12 mx-0" style="margin-left:45%;">
            <img width="150%" style="margin-left:-20px;" height="100%" src="{{companydetail.profile_photo.url}}" 
              id="wizardPicturePreview" title="">
            <input type="file" class="form-control" name="profile_photo" id="profile_photo"
              placeholder="Profile Pic" accept="image/*" value="{{companydetail.profile_photo.url}}" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFName">First Name</label>
            <input type="text" class="form-control" id="inputFName" name="firstname" required/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputLName">LastName</label>
            <input type="text" class="form-control" id="inputLName"  name="lastname" required/>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="email" required/>
        </div>
        <div class="form-group col-md-12">
          <label for="inputMobile">Mobile</label>
          <input type="tel" class="form-control" id="inputMobile" name="inputMobile" value="+91" required/>
        </div>
        <div class="form-group col-md-12">
          <label for="inputPassword">Password</label>
          <input type="text" class="form-control" id="inputPassword" name="password" required/>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:13px;">Add User</button>
        <button type="reset" class="btn btn-danger" style="margin-left:13px;">Clear</button>
      </form>
    </div>
  </div>
</div>

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
var input = document.querySelector("#inputMobile");
    window.intlTelInput(input, {
      utilsScript: "build1/js/utils.js",
    });
  $(document).ready(function(){
    $("#profile_photo").change(function(){
      readURL(this);
    });
  });
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

{% endblock %}

